=styled_flash

%p= "Hello #{@user.screen_name}"
  
%p= "You currently follow #{@current_list.count} people on Twitter."

-if @change
  %p= "Since #{@change.check_date.strftime("%B %d, %Y")}..."

.activity
  -if @followed_accounts
    %p= "You started following #{@followed.count} new accounts:"
    -@followed_accounts.each do |account|
      %li
        %a{:href=> "http://twitter.com/#{account[:screen_name]}"}
          %img{:src => account[:profile_image]}
          =account[:name]
          ="(@#{account[:screen_name]})"
  
  -if @unfollowed_accounts
    %p= "You unfollowed #{@unfollowed.count} accounts:"
    %ul
      -@unfollowed_accounts.each do |account|
        %li
          %a{:href=> "http://twitter.com/#{account[:screen_name]}"}
            %img{:src => account[:profile_image]}
            =account[:name]
            ="(@#{account[:screen_name]})"
  