%h1= "Hello, #{@user.screen_name}!"

%p= "You currently follow #{@current_list.count} people on Twitter."

-if @change
  %br
  %h4= "Since #{@change.check_date.strftime("%B %d, %Y")}..."

.activity
  -if @followed_accounts
    %p= "You started following #{@followed.count} new accounts:"
    =haml(:"_account", :locals => {:accounts => @followed_accounts})
  
  -if @unfollowed_accounts
    %p= "You unfollowed #{@unfollowed.count} accounts:"
    =haml(:"_account", :locals => {:accounts => @unfollowed_accounts})
  